.project
.pydevproject
.settings
.idea
build
dist
*.pyc
*.so
__pycache__
reproject/cython_version.py
reproject/reproject.cfg
reproject/version.py
reproject.egg-info
reproject/spherical_intersect/_overlap.c
reproject/_compiler.c
docs/_build
docs/api
.coverage
htmlcov
dev

.idea
