include README.rst
include CHANGES.md
include LICENSE

include pyproject.toml
include setup.cfg

include pyproject.toml

recursive-include reproject *.pyx *.c
recursive-include docs *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
